html {
    background: #ffff;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

a {
    color: #019926;
}

b, strong {
    font-weight: 600;
}

h1, h2, h3 {
    color:#019926;
    font-weight: 600;
    line-height: 1.3
}

ul.nav {
    left: 0;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position:fixed;
}

a.nav {
    display: block;
    color: #019926;
    padding: 8px 16px;
    text-decoration: none;
}

a.nav:hover {
    background-color: #555;
    color: white;
} 

a.active {
    background-color: #019926 !important;
    color: white;
}

pre.prettyprint {
    border: none !important;
}

.note {
    color:black;
    font-weight: 400;
    font-size: 12px;
}

p.computer {
    font-weight: 400;
    font-size: 75px; 
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}